<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  

    <div class = "flex-container" id = "nav-bar">
        <img src = "./assets/images/home.png" width = "50px" class = "nav-icon">
        
        <img src = "./assets/images/bills.png" width = "50px" class = "nav-icon">

        <img src = "./assets/images/money.png" width = "50px" class = "nav-icon">

        <img src = "./assets/images/iou.png" width = "50px" class = "nav-icon">

        <img src = "./assets/images/usericon.png" width = "50px" class = "nav-icon">

    </div>
    <div id = "content-container">
        <table id = "bill-table" >
            <tr>
            <th><b>Bills</b></th>
            <th><b>Amount</b></th>
            <th><b>Due</b></th>
            </tr>
            <tr>
                <th>Some Sort of Bill</th>
                <th>$1000</th>
                <th>2/14/1879</th>
            </tr>
            <tr>
                <th>bla</th>
                <th>bla</th>
                <th>bla</th>
            </tr>
        </table>
        <div class = "flex-container" id = "bill-button-flex">
            <div id = "new-bill-button">+</div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>
